.HeaderTable {  font-family: Verdana; font-size: 28px; color: #FFFFFF}
body {  font-family: Verdana; font-size: xx-small; color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-weight: lighter; text-decoration: none}
.HeaderTD {  background-color: #6699CC}
td {  font-family: Verdana; font-size: xx-small; text-decoration: none}
